<html>
<head>

<h2><%=@dog.user.username if @dog.user%></h2>
<hr/>
  
<h3><%= @dog.name %></h3>
<h4><%= @dog.second_name%></h4>

</head>

<body>
<% if Helpers.current_user(session) == @dog.user %>
  <a href="/dogs/<%=@dog.id%>/edit">Edit Dog</a>
  <form action="/dogs/<%=@dog.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
<%end%>
</body>

<style>
body {
  background-color: brown;
}

h1 {
  color: black;
  margin-left: 40px;
}
</style>
</head>
</html>




